@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'idroid';
  src: url('../fonts/idroid.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

:root {
  --cor0: #ebe5c5;
  --cor1: #c5ebd6;
  --cor2: #83e1ad;
  --cor3: #3ddc84;
  --cor4: #2fa866;
  --cor5: #1a5c37;
  --cor6: #063d1e;
  --cor-sombra: rgba(0, 0, 0, 0.329);

  --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
  --fonte-destaque: 'Bebas Neue', 'cursive';
  --fonte-android: 'idroid', serif;

  --nav-padding-vertical: 10px;
  --main-padding: 20px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

/*#region CABEÇALHO*/
header {
  background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
  color: white;
  text-shadow: 2px 2px 3px var(--cor-sombra);
  box-shadow: 0px 0px 6px var(--cor-sombra);
  text-align: center;
  min-height: 100px;
  padding: 30px 15px 20px 15px;
}

header h1 {
  font-family: var(--fonte-destaque);
  font-weight: normal;
  font-size: 3em;
}

header p {
  max-width: 600px;
  margin: auto;
  font-size: 1.5em;
}

nav {
  background-color: var(--cor6);
  box-shadow: 0px 0px 6px var(--cor-sombra);
  padding: var(--nav-padding-vertical) 10px;
}

nav a {
  color: var(--cor1);
  font-weight: bold;
  text-decoration: none;
  padding: var(--nav-padding-vertical) 5px;
}

nav a+a {
  margin-left: 0.4em;
}

nav a:hover {
  background-color: var(--cor1);
  color: var(--cor5);
  text-decoration: underline;
  border-radius: 5px 5px 0px 0px;
  transition-duration: 0.5s;
}
/*#endregion CABEÇALHO*/

main {
  background-color: white;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  padding: var(--main-padding);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 6px var(--cor-sombra);
}

main h1 {
  color: var(--cor6);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 2em;
  text-indent: 0.5em;
}

main h2 {
  color: var(--cor6);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.5em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  padding: 5px;
  text-indent: 0.5em;
}

main p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-top: 16px;
  margin-bottom: 16px;
  text-indent: 1em;
}

main strong {
  color: var(--cor6);
}

main a {
  background-color: var(--cor1);
  color: var(--cor6);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

main a:hover {
  text-decoration: underline;
}

main a.external::after {
  content: '\00A0\1F517'
}

main img {
  display: block;
  margin: auto;
  width: 100%;
}

main img.pequena {
  max-width: 350px;
}

main div.video-area {
  background-color: var(--cor6);
  padding: 20px;
  margin: 0px calc(-1 * var(--main-padding));

  padding-bottom: 58%;
  position: relative;
}
main div.video-area iframe {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}

main aside {
  background-color: var(--cor2);
  margin-top: 30px;
  --padding-aside: 20px;
  --border-radius: 20px;
  padding: var(--padding-aside);
  border-radius: var(--border-radius);
}

main aside h3 {
  background-color: var(--cor6);
  color: white;
  font-size: 1.3em;
  margin: calc(-1 * var(--padding-aside));
  margin-bottom: 0px;
  padding: 10px 20px 10px 20px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

main aside ul {
  list-style-type: '\2714\FE0F\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

/*#region FOOTER*/
footer {
  background-color: var(--cor6);
  color: white;
  text-align: center;
  font-size: 0.8em;;
  margin-top: 30px;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--cor1);
  text-decoration: underline;
}
/*#endregion FOOTER*/